.advantages {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .container {
    position: relative;
    z-index: 2;
  }
  &__title {
    margin-o-bottom: 50px;
  }
  &__description {
    margin-o-bottom: 80px;
    @include robotothin;
    font-size: 28px;
    line-height: 1.3;
    text-align: center;
  }
  &-list {
    margin-o: 0 auto;
    max-width: 560px;
    & > *{
        margin-o: 64px 0;
        &:first-child {
            margin-o-top: 0;
        }
        &:last-child {
            margin-o-bottom: 0;
        }
    }
    &__item {
      display: flex;
      & > *{
      	&:not(:last-child){
      	    margin-o-right: 42px;
      	}
      }
    }
    &__icon {
      width: 47px;
      height: 47px;
      svg {
        fill: white;
        width: 47px;
        height: 47px;
      }
    }
    &__title {
      margin-o-bottom: 24px;
      @include rubikrebold;
      font-size: 22px;
      text-transform: uppercase;
    }
  }
}

