.btn {
  display: table;
  padding: 0 35px;
  height: 50px;
  line-height: 50px;
  @include opensanslight;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background: $apple;
  border: none;
  border-radius: 30px;
  transition: all .4s ease;
  &.btn--gray {
    background: $cutty-sark;
    &:hover {
      background: $apple;
    }
  }
}