.certificates-section {
  background: $wild-sand;
}
.certificates {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 890px) {
    display: block;
  }

  &__title {
    margin-o-bottom: 84px;
  }
  & > *{
  	&:not(:last-child){
  	    margin-o-right: 20px;
      @media screen and (max-width: 890px) {
        margin-o-right: auto;
      }

  	}
  }
  &__item {
    position: relative;
    flex: 1;
    display: block;
    @media screen and (max-width: 890px) {
      margin-o-left: auto;
      margin-o-right: auto;
      margin-o-bottom: 30px;
      max-width: 353px;
    }

    &:hover::before,
    &:hover .certificates__icon{
      // display: block;
			opacity: 1;
      @media screen and (max-width: 890px) {
        display: none;
      }

    }
    &::before {
      content: '';
      position: absolute;
      // display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.3);
			opacity: 0;
			transition: all .6s ease;
      @media screen and (max-width: 890px) {
        display: none;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // display: none;
    width: 30px;
    height: 30px;
    fill: white;
		opacity: 0;
		transition: all .6s ease;
    @media screen and (max-width: 890px) {
      display: none;
    }

  }
}
