.popup {
	position: relative;
	top: 20%;
  background: #FFF;
  padding: 20px;
	max-width: 400px;
  width: auto;
  margin: 20px auto;
	border-radius: 6px;
	.form {
		margin-top: 30px;
	}
	input {
		@media screen and (max-width: 380px) {
			width: 80%;
		}
	}
}
