.section {
	position: relative;
  padding: 140px 0 110px;
  @media screen and (max-width: 600px) {
  	padding: 80px 0 50px;
  }
	&__description {
		@include robotothin;
		margin-o-top: 40px;
		font-size: 28px;
		text-align: center;
	}

  &__title {
    @include rubikrebold;
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    color: $cod-gray;
    @media screen and (max-width: 400px) {
      font-size: 33px;
    }
  }
  &.section--dark {
    color: white;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0,.4);
			z-index: 0;
		}
		.container {
			position: relative;
			z-index: 1;
		}
   .section__title {
     color: white;
   }
  }
	&.section--fixed {
		background-attachment: fixed;
	}
}
