.advantages(style="background-image: url(assets/i/advantages.jpg);").section.section--dark
    .container
        .advantages__title.section__title Какие преимущества
        .advantages__description есть у финского дома?

        ul.advantages-list
            li.advantages-list__item
                .advantages-list__icon
                    +icon('advantages-list__svg', 'home')
                .advantages-list__content
                    h3.advantages-list__title Натурально
                    p.advantages-list__text Дерево – это природный, экологичный и надежный материал. Северная сосна оказывает антисептическое влияние на внутреннее пространство дома.
            li.advantages-list__item
                .advantages-list__icon
                    +icon('advantages-list__svg', 'save')
                .advantages-list__content
                    h3.advantages-list__title Экологично
                    p.advantages-list__text Все лакокрасочные материалы, которые используются при строительстве, сделаны из органических материалов на водно-восковой основе.
            li.advantages-list__item
                .advantages-list__icon
                    +icon('advantages-list__svg', 'fast')
                .advantages-list__content
                    h3.advantages-list__title Быстро
                    p.advantages-list__text Строительство занимает от 3 до 6 месяцев. В процессе строительства на объекте отсутствует грязь, болота и другие неотъемлемые атрибуты обычной стройки.
            li.advantages-list__item
                .advantages-list__icon
                    +icon('advantages-list__svg', 'reliability')
                .advantages-list__content
                    h3.advantages-list__title Надежно
                    p.advantages-list__text 50 лет гарантии от производителя на материалы. Строительный материал обрабатывается специальной противопожарной пропиткой на водной основе.

