.certificates-section.section#js-certificates
    h2.section__title.certificates__title Наши дипломы и сертификаты

    .container
        .certificates.mfp-fade#js-certificates
            a(href="assets/i/certificates/big/certificate.jpg" data-effect="mfp-fade").certificates__item
                img(src="assets/i/certificates/certificate.jpg" alt="")
                +icon('certificates__icon', 'search')
            a(href="assets/i/certificates/big/certificate.jpg" data-effect="mfp-fade").certificates__item
                img(src="assets/i/certificates/certificate.jpg" alt="")
                +icon('certificates__icon', 'search')
            a(href="assets/i/certificates/big/certificate.jpg" data-effect="mfp-fade").certificates__item
                img(src="assets/i/certificates/certificate.jpg" alt="")
                +icon('certificates__icon', 'search')
