.footer-main-wrap
	.container
		.footer-main
			.footer-main__copyright
				h4.footer-main__title Строительство домов под ключ
				ul.footer-main-list
					li.footer-main-list__item ООО «Стройблок сервис»
					li.footer-main-list__item Адрес: Ленина 85, офис 4

			.phone
				a( href="tel:+74957873422" target="_blank").phone__number  8 (495) 787 34 22
				a(href="#js-popup-phone").btn.btn--gray.popup-link Позвони мне
