section.section.gallery-wrap#js-gallery
    h2.section__title.gallery__title Галлерея наших работ
    .container
        .gallery#js-gallery
            a(href="assets/i/gallery/big/1.png" style="background-image: url(assets/i/gallery/1.png);").gallery__item
                .gallery__icon
                    +icon('gallery__search-icon', 'search')
            a(href="assets/i/gallery/big/2.png" style="background-image: url(assets/i/gallery/2.png);").gallery__item
                .gallery__icon
                    +icon('gallery__search-icon', 'search')
            a(href="assets/i/gallery/big/3.png" style="background-image: url(assets/i/gallery/3.png);").gallery__item
                .gallery__icon
                    +icon('gallery__search-icon', 'search')
            a(href="assets/i/gallery/big/4.png" style="background-image: url(assets/i/gallery/4.png);").gallery__item
                .gallery__icon
                    +icon('gallery__search-icon', 'search')
            a(href="assets/i/gallery/big/5.png" style="background-image: url(assets/i/gallery/5.png);").gallery__item
                .gallery__icon
                    +icon('gallery__search-icon', 'search')
            a(href="assets/i/gallery/big/6.png" style="background-image: url(assets/i/gallery/6.png);").gallery__item
                .gallery__icon
                    +icon('gallery__search-icon', 'search')

