.header-main__wrap
    .container
        .header-main
            .header-main-top
                .header-main-top__logo-wrap
                    .header-main-top__logo.logo
                        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="168" viewBox="0 0 160 168" fill="red">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M111.057 148.012H48.9432C33.9216 148.012 20.5815 141.319 11.6376 130.83C16.0672 146.465 29.9532 157.88 46.5607 157.88H113.439C129.988 157.88 143.854 146.567 148.326 130.824C139.39 141.331 126.076 148.012 111.057 148.012ZM10.1587 90.0723V99.2698C10.1587 120.468 27.3639 137.892 48.9432 137.892H111.057C132.636 137.892 149.841 120.468 149.841 98.9793V90.0723V48.7422C149.841 27.5438 132.636 10.1205 111.057 10.1205H48.9432C27.6555 10.1205 10.1587 27.2534 10.1587 48.7422V90.0723ZM160 98.9793V90.0723V48.7422C160 21.9999 138.292 0 111.057 0H48.9432C22.099 0 0 21.6104 0 48.7422V90.0723V99.2698V120.109C0 146.121 20.3087 168 46.5607 168H113.439C139.709 168 160 146.146 160 119.831V98.9793ZM97.3247 40.4819H98.2131C107.097 40.4819 121.609 44.8886 121.905 62.2217V94.8315C121.905 97.4754 121.016 99.5319 118.943 100.707C117.166 101.882 114.797 102.47 111.54 102.47C110.651 102.47 109.763 101.882 109.763 101.001V62.2217C109.763 53.7023 102.359 51.6458 98.2131 51.6458H97.6208C93.7707 51.6458 86.0709 53.9958 86.0709 62.2217V94.8315C86.0709 97.4754 85.1825 99.5319 83.1096 100.707C81.3328 101.882 78.9633 102.47 75.7059 102.47C74.8175 102.47 73.9291 101.882 73.9291 101.001V62.2217C73.9291 53.7023 66.5255 51.6458 62.3792 51.6458H61.7869C57.9373 51.6458 50.2373 53.9958 50.2373 62.2217V94.8315C50.2373 97.4754 49.3488 99.5319 47.2758 100.707C45.4989 101.882 43.1298 102.47 39.8721 102.47C38.9837 102.47 38.0952 101.882 38.0952 101.001V62.5157C38.0952 44.8886 52.6065 40.4819 61.4908 40.4819H62.3792C67.71 40.4819 74.8175 42.2446 79.8517 46.9451C84.8864 41.9508 91.9939 40.4819 97.3247 40.4819Z" fill="white"/>
                        </svg>
                    span.header-main-top__description Шаблон лендинга по строительству домов
                a.header-main-top__link Создать сайт из этого шаблона