.how-we-work-wrap.section.section--fixed.section--dark(style="background-image: url(assets/i/how-we-work.jpg)")
	.container
		h2.section__title.how-we-work__title Как мы работаем

		.how-we-work
			.how-we-work__item
					h3.how-we-work__title-item 1
					h4.how-we-work__subtitle Заполните заявку
					p.how-we-work__text После заполнения заявки менеджер свяжется с вами
			.how-we-work__item
					h3.how-we-work__title-item 2
					h4.how-we-work__subtitle Оплатите 50%
					p.how-we-work__text Строительство начнётся сразу после оплаты аванса
			.how-we-work__item
					h3.how-we-work__title-item 3
					h4.how-we-work__subtitle Получите свой дом
					p.how-we-work__text После сдачи объекта оплатите остаток и примите дом
