.intro(style="background: url('assets/i/intro.jpg'); background-repeat: no-repeat; background-position: top top; background-attachment: fixed; background-size: cover;")
    .container
        .intro__content
            h1.intro__title Строительство домов под ключ
            p.intro__description Строим финские дома премиум класса уже 15 лет!
            a.btn(href="#") Узнать стоимость