.questions-section.section.section--fixed.section--dark(style="background-image: url(assets/i/how-we-work.jpg)")
	.container
		h2.section__title Остались вопросы?
		p.section__description Перезвоним и ответим за 10 минут

		form.form()
			input.form__input(type="text" name="name" placeholder="Имя")
			input.form__input(type="text" name="phone" placeholder="Телефон")
			input.form__input(type="text" name="question" placeholder="Вопрос")
			input.btn(type="submit" name="submit" value="Получить ответ")

