.review-section.section
	h2.section__title Отзывы наших клиентов
	p.section__description Что говорят наши клиенты

	.container
		.reviews-slider
			.reviews__item-slider
				img.reviews-slider__img(src="assets/i/reviews/1.jpg" alt="")
				h3.reviews-slider__title Ольга
				p.reviews-slider__description Финский дом под ключ в Новгородской области
				p.reviews-slider__text Заказала строительство дома с терассой. Результатом довольна, живем всей семьей, детям очень нравится. Буду рекомендовать друзьям и близким.

			.reviews__item-slider
				img.reviews-slider__img(src="assets/i/reviews/2.jpg" alt="")
				h3.reviews-slider__title Алексей
				p.reviews-slider__description Финский дом под ключ в Новгородской области
				p.reviews-slider__text Заказала строительство дома с терассой. Результатом довольна, живем всей семьей, детям очень нравится. Буду рекомендовать друзьям и близким.

			.reviews__item-slider
				img.reviews-slider__img(src="assets/i/reviews/3.jpg" alt="")
				h3.reviews-slider__title Марина
				p.reviews-slider__description Финский дом под ключ в Новгородской области
				p.reviews-slider__text Заказала строительство дома с терассой. Результатом довольна, живем всей семьей, детям очень нравится. Буду рекомендовать друзьям и близким.
