section.section.stock#js-stock
    .container
        .stock__wrap
            .stock__image
                img(src="assets/i/stock.png" alt="")
            .stock__content
                h2.section__title.stock__title Акция!
                p.stock__text Финский деревянный дом под ключ с мебелью и сантехникой за 50 000 руб. за 1 квадратный метр. Варианты отделки дома вы можете выбрать отправив заявку прямо сейчас!
                a(href="#js-popup-email").btn.popup-link Отправить заявку
