//thin 100
//thin 100 Italic
//light 300
//light 300 Italic
//regular 400
//regular 400 Italic
//medium 500
//medium 500 Italic
//bold 700
//bold 700 Italic
//black 900
//black 900 Italic

//open-sans
@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/OpenSans-Regular.woff2") format('woff2'), url("../fonts/OpenSans-Regular.woff") format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.woff2") format('woff2'), url("../fonts/OpenSans-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

//Rubik
@font-face {
	font-family: 'Rubik-Regular';
	src: url("../fonts/Rubik-Regular.woff2") format('woff2'), url("../fonts/Rubik-Regular.woff") format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik-Bold';
	src: url("../fonts/Rubik-Bold.woff2") format('woff2'), url("../fonts/Rubik-Bold.woff") format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik-Medium';
	src: url("../fonts/Rubik-Medium.woff2") format('woff2'), url("../fonts/Rubik-Medium.woff") format('woff');
	font-weight: 500;
	font-style: normal;
}

//Roboto
@font-face {
	font-family: 'Roboto-Medium';
	src: url("../fonts/Roboto-Medium.woff2") format('woff2'), url("../fonts/Roboto-Medium.woff") format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url("../fonts/Roboto-Regular.woff2") format('woff2'), url("../fonts/Roboto-Regular.woff") format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url("../fonts/Roboto-Thin.woff2") format('woff2'), url("../fonts/Roboto-Thin.woff") format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url("../fonts/Roboto-Light.woff2") format('woff2'), url("../fonts/Roboto-Light.woff") format('woff');
	font-weight: 300;
	font-style: normal;
}
