//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$white:  #fff;
$black:  #000;
$tundora: #9fa;
$apple: #43A047;
$ship-gray: #37353a;
$cod-gray: #111111;
$fern: #59BB7F;
$main-shaft: #333333;
$cutty-sark: #546E7A;

